## Pandas

Python Advanced Data Analysis Toolkit

Hauptwerkzeug für die Verarbeitung von Daten

In [1]:
import numpy as np
import pandas as pd

### Serie

Effektiv ein Numpy Array mit zusätzlichen Eigenschaften

Auf das Numpy Array unter einer Serie kann immer zugegriffen werden

In [5]:
pd.Series([8.6, 83.7, 0.38, 9])  # Diese Zeilen sagen nicht viel aus

0     8.60
1    83.70
2     0.38
3     9.00
dtype: float64

In [4]:
einwohnerM = pd.Series([8.6, 83.7, 0.38, 9])

In [6]:
einwohnerM

0     8.60
1    83.70
2     0.38
3     9.00
dtype: float64

In [9]:
einwohnerM.name = "Einwohnerzahlen Europa"  # Mit name kann die Serie benannt werden

In [8]:
einwohnerM

0     8.60
1    83.70
2     0.38
3     9.00
Name: Einwohnerzahlen Europa, dtype: float64

In [10]:
einwohnerM.index = ["CH", "DE", "LI", "AT"]  # Jeder Wert in der Serie bekommt hier eine Bezeichnung

In [11]:
einwohnerM

CH     8.60
DE    83.70
LI     0.38
AT     9.00
Name: Einwohnerzahlen Europa, dtype: float64

In [15]:
einwohnerM.values  # Das unterliegende Numpy Array

array([ 8.6 , 83.7 ,  0.38,  9.  ])

In [16]:
type(einwohnerM.values)  # ndarray: N-Dimensional Array

numpy.ndarray

#### Index

In [17]:
einwohnerM[0:2]

CH     8.6
DE    83.7
Name: Einwohnerzahlen Europa, dtype: float64

In [19]:
einwohnerM["CH":"LI"]  # Textbasierter Index möglich

CH     8.60
DE    83.70
LI     0.38
Name: Einwohnerzahlen Europa, dtype: float64

#### Vektorisierung

In [20]:
# Aufgabe: Alle überdurchschnittlichen Einwohnerzahlen finden

In [22]:
einwohnerM.mean()

np.float64(25.419999999999998)

In [23]:
einwohnerM > einwohnerM.mean()

CH    False
DE     True
LI    False
AT    False
Name: Einwohnerzahlen Europa, dtype: bool

In [24]:
einwohnerM[einwohnerM > einwohnerM.mean()]

DE    83.7
Name: Einwohnerzahlen Europa, dtype: float64

In [26]:
einwohnerM[einwohnerM == 9]

AT    9.0
Name: Einwohnerzahlen Europa, dtype: float64

#### Sortierung

In [27]:
einwohnerM.sort_values()

LI     0.38
CH     8.60
AT     9.00
DE    83.70
Name: Einwohnerzahlen Europa, dtype: float64

In [28]:
einwohnerM.sort_index()

AT     9.00
CH     8.60
DE    83.70
LI     0.38
Name: Einwohnerzahlen Europa, dtype: float64

In [29]:
einwohnerM.sort_values(ascending=False)

DE    83.70
AT     9.00
CH     8.60
LI     0.38
Name: Einwohnerzahlen Europa, dtype: float64

In [30]:
einwohnerM.sort_index(ascending=False)

LI     0.38
DE    83.70
CH     8.60
AT     9.00
Name: Einwohnerzahlen Europa, dtype: float64

### DataFrame

Effektiv eine Tabelle

Jede Spalte und jede Zeile ist eine Serie

### read_csv

Für das Einlesen von Daten gibt es eine Sammlung von read-Methoden

In [39]:
data = pd.read_csv("Data/PopulationData.csv", delimiter=";", thousands=",", decimal=".")

In [40]:
data

,#,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
0,1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...,...
230,231,Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,232,Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,233,Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,234,Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,235,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   #                        235 non-null    int64
 1   Country (or dependency)  235 non-null    object
 2   Population(2020)         235 non-null    int64
 3   YearlyChange             235 non-null    object
 4   NetChange                235 non-null    int64
 5   Density(P/Km²)           235 non-null    int64
 6   Land Area(Km²)           235 non-null    int64
 7   Migrants(net)            201 non-null    float64
 8   Fert.Rate                235 non-null    object
 9   Med.Age                  235 non-null    object
 10  UrbanPop %               235 non-null    object
 11  WorldShare               235 non-null    object
dtypes: float64(1), int64(5), object(6)
memory usage: 22.2+ KB

### Probleme mit Datenset

DataFrame selbst:
- Schlechte Spaltennamen
- Doppelter Index

Datenset:
- Prozentzeichen
- N.A.
- NaN
- Datentypen

#### Spalten umbenennen

Um Spalten umzubenennen gibt es die rename Funktion

Die rename Funktion verlangt als Parameter ein Dictionary mit den alten & neuen Spaltennamen

In [42]:
data.columns

Index(['#', 'Country (or dependency)', 'Population(2020)', 'YearlyChange',
       'NetChange', 'Density(P/Km²)', 'Land Area(Km²)', 'Migrants(net)',
       'Fert.Rate', 'Med.Age', 'UrbanPop %', 'WorldShare'],
      dtype='object')

In [46]:
data.rename(columns={
    'Country (or dependency)': "Country",
    'Population(2020)': "Pop",
    'Density(P/Km²)': "Density",
    'Land Area(Km²)': "LandArea",
    'Migrants(net)': "Migrants",
    'Fert.Rate': "FertRate",
    'Med.Age': "MedAge",
    'UrbanPop %': "UrbanPopPct"
}, inplace=True)  # inplace: Übernimmt die Änderungen direkt auf das DataFrame

In [45]:
data  # Die Spaltennamen werden nicht übernommen, weil die Pandas Funktionen immer ein neues DataFrame zurückgeben

,#,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
0,1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...,...
230,231,Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,232,Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,233,Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,234,Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,235,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [47]:
data

,#,Country,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
0,1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...,...
230,231,Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,232,Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,233,Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,234,Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,235,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

#### Index setzen

Mithilfe von set_index(Spaltenname) kann eine Spalte als Index gesetzt werden

In [54]:
data.set_index("Country", inplace=True)

In [60]:
data  # Die #-Spalte kann jetzt entfernt werden

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [58]:
data.drop(columns=["#"], inplace=True)

In [59]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

### Daten entnehmen

#### head(X), tail(X)

Obersten X, untersten X Datensätze

In [61]:
data.head(10)

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
Brazil,212559417,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
Nigeria,206139589,2.58 %,5175990,226,910770,-60000.0,5.4,18,52 %,2.64 %
Bangladesh,164689383,1.01 %,1643222,1265,130170,-369501.0,2.1,28,39 %,2.11 %
Russia,145934462,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
Mexico,128932753,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %

In [62]:
data.tail(10)

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
Wallis & Futuna,11239,-1.69 %,-193,80,140,NaN,N.A.,N.A.,0 %,0.00 %
Nauru,10824,0.63 %,68,541,20,NaN,N.A.,N.A.,N.A.,0.00 %
Saint Barthelemy,9877,0.30 %,30,470,21,NaN,N.A.,N.A.,0 %,0.00 %
Saint Helena,6077,0.30 %,18,16,390,NaN,N.A.,N.A.,27 %,0.00 %
Saint Pierre & Miquelon,5794,-0.48 %,-28,25,230,NaN,N.A.,N.A.,100 %,0.00 %
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

#### Index bei DataFrame

- Normaler Index (data[...]): Spalte
- loc (data.loc[...]): Zeile(n)
- iloc (data.iloc[...]): Zeile(n) über numerischer Index

In [66]:
data["Pop"]  # Eine Spalte auswählen

Country
China               1439323776
India               1380004385
United States        331002651
Indonesia            273523615
Pakistan             220892340
                       ...
Montserrat                4992
Falkland Islands          3480
Niue                      1626
Tokelau                   1357
Vatican State              801
Name: Pop, Length: 235, dtype: int64

In [70]:
data.loc["China"]  # Ein Datensatz

Pop             1439323776
YearlyChange        0.39 %
NetChange          5540090
Density                153
LandArea           9388211
Migrants         -348399.0
FertRate               1.7
MedAge                  38
UrbanPopPct           61 %
WorldShare         18.47 %
Name: China, dtype: object

In [78]:
data.loc["China":"Pakistan"]

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

In [72]:
data.loc["China":"Pakistan", "Pop":"Density"]

                      Pop  Density
Country
China          1439323776      153
India          1380004385      464
United States   331002651       36
Indonesia       273523615      151
Pakistan        220892340      287

In [75]:
data.loc["China":"Pakistan", ("Pop", "Density")]  # Bestimmte Spalten nehmen (benötigt eine Liste)

                      Pop  Density
Country
China          1439323776      153
India          1380004385      464
United States   331002651       36
Indonesia       273523615      151
Pakistan        220892340      287

In [77]:
data.loc[("China", "India", "Germany"), "Pop":"Density"]  # Bestimmte Zeilen nehmen (benötigt eine Liste)

                Pop YearlyChange  NetChange  Density
Country
China    1439323776       0.39 %    5540090      153
India    1380004385       0.99 %   13586631      464
Germany    83783942       0.32 %     266897      240

In [85]:
data.iloc[0:10, 0:4]  # Nur Zahlen

                      Pop YearlyChange  NetChange  Density
Country
China          1439323776       0.39 %    5540090      153
India          1380004385       0.99 %   13586631      464
United States   331002651       0.59 %    1937734       36
Indonesia       273523615       1.07 %    2898047      151
Pakistan        220892340       2.00 %    4327022      287
Brazil          212559417       0.72 %    1509890       25
Nigeria         206139589       2.58 %    5175990      226
Bangladesh      164689383       1.01 %    1643222     1265
Russia          145934462       0.04 %      62206        9
Mexico          128932753       1.06 %    1357224       66

#### Sortierung

sort_values(Spaltenname); subsequente Sortierungen auch möglich (Liste)

sort_index()

ascending=True/False um aufsteigend/absteigend zu sortieren

In [92]:
data.sort_values("Density")

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
Greenland,56770,0.17 %,98,0,410450,NaN,N.A.,N.A.,87 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Western Sahara,597339,2.55 %,14876,2,266000,5582.0,2.4,28,87 %,0.01 %
Mongolia,3278290,1.65 %,53123,2,1553560,-852.0,2.9,28,67 %,0.04 %
Australia,25499884,1.18 %,296686,3,7682300,158246.0,1.8,38,86 %,0.33 %
...,...,...,...,...,...,...,...,...,...,...
Gibraltar,33691,-0.03 %,-10,3369,10,NaN,N.A.,N.A.,N.A.,0.00 %
Hong Kong,7496981,0.82 %,60827,7140,1050,29308.0,1.3,45,N.A.,0.10 %
Singapore,5850342,0.79 %,46005,8358,700,27028.0,1.2,42,N.A.,0.08 %
Macao,649335,1.39 %,8890,21645,30,5000.0,1.2,39,N.A.,0.01 %
Monaco,39242,0.71 %,278,26337,1,NaN,N.A.,N.A.,N.A.,0.00 %

In [93]:
data.sort_index()

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
Afghanistan,38928346,2.33 %,886592,60,652860,-62920.0,4.6,18,25 %,0.50 %
Albania,2877797,-0.11 %,-3120,105,27400,-14000.0,1.6,36,63 %,0.04 %
Algeria,43851044,1.85 %,797990,18,2381740,-10000.0,3.1,29,73 %,0.56 %
American Samoa,55191,-0.22 %,-121,276,200,NaN,N.A.,N.A.,88 %,0.00 %
Andorra,77265,0.16 %,123,164,470,NaN,N.A.,N.A.,88 %,0.00 %
...,...,...,...,...,...,...,...,...,...,...
Wallis & Futuna,11239,-1.69 %,-193,80,140,NaN,N.A.,N.A.,0 %,0.00 %
Western Sahara,597339,2.55 %,14876,2,266000,5582.0,2.4,28,87 %,0.01 %
Yemen,29825964,2.28 %,664042,56,527970,-30000.0,3.8,20,38 %,0.38 %
Zambia,18383955,2.93 %,522925,25,743390,-8000.0,4.7,18,45 %,0.24 %
Zimbabwe,14862924,1.48 %,217456,38,386850,-116858.0,3.6,19,38 %,0.19 %

In [98]:
data.sort_values(["MedAge", "Country"], ascending=[False, True])

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
American Samoa,55191,-0.22 %,-121,276,200,NaN,N.A.,N.A.,88 %,0.00 %
Andorra,77265,0.16 %,123,164,470,NaN,N.A.,N.A.,88 %,0.00 %
Anguilla,15003,0.90 %,134,167,90,NaN,N.A.,N.A.,N.A.,0.00 %
Bermuda,62278,-0.36 %,-228,1246,50,NaN,N.A.,N.A.,97 %,0.00 %
British Virgin Islands,30231,0.67 %,201,202,150,NaN,N.A.,N.A.,52 %,0.00 %
...,...,...,...,...,...,...,...,...,...,...
DR Congo,89561403,3.19 %,2770836,40,2267050,23861.0,6.0,17,46 %,1.15 %
Somalia,15893222,2.92 %,450317,25,627340,-40000.0,6.1,17,47 %,0.20 %
Uganda,45741007,3.32 %,1471413,229,199810,168694.0,5.0,17,26 %,0.59 %
Mali,20250833,3.02 %,592802,17,1220190,-40000.0,5.9,16,44 %,0.26 %
Niger,24206644,3.84 %,895929,19,1266700,4000.0,7.0,15,17 %,0.31 %

#### Daten filtern

Vektorisierung wie bei Numpy Arrays

Serie ist ein Numpy Array; DataFrame besteht aus Serien -> besteht aus Numpy Arrays

In [99]:
# Aufgabe: Alle Länder finden, die über 10m Einwohner haben

In [101]:
data["Pop"] > 10_000_000

Country
China                True
India                True
United States        True
Indonesia            True
Pakistan             True
                    ...
Montserrat          False
Falkland Islands    False
Niue                False
Tokelau             False
Vatican State       False
Name: Pop, Length: 235, dtype: bool

In [104]:
data[data["Pop"] > 10_000_000]

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Greece,10423054,-0.48 %,-50401,81,128900,-16000.0,1.3,46,85 %,0.13 %
Jordan,10203134,1.00 %,101440,115,88780,10220.0,2.8,24,91 %,0.13 %
Portugal,10196709,-0.29 %,-29478,111,91590,-6000.0,1.3,46,66 %,0.13 %
Azerbaijan,10139177,0.91 %,91459,123,82658,1200.0,2.1,32,56 %,0.13 %
Sweden,10099265,0.63 %,62886,25,410340,40000.0,1.9,41,88 %,0.13 %

In [107]:
data[(data["Pop"] > 10_000_000) & (data["Pop"] < 50_000_000)]

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
Spain,46754778,0.04 %,18002,94,498800,40000.0,1.3,45,80 %,0.60 %
Uganda,45741007,3.32 %,1471413,229,199810,168694.0,5.0,17,26 %,0.59 %
Argentina,45195774,0.93 %,415097,17,2736690,4800.0,2.3,32,93 %,0.58 %
Algeria,43851044,1.85 %,797990,18,2381740,-10000.0,3.1,29,73 %,0.56 %
Sudan,43849260,2.42 %,1036022,25,1765048,-50000.0,4.4,20,35 %,0.56 %
...,...,...,...,...,...,...,...,...,...,...
Greece,10423054,-0.48 %,-50401,81,128900,-16000.0,1.3,46,85 %,0.13 %
Jordan,10203134,1.00 %,101440,115,88780,10220.0,2.8,24,91 %,0.13 %
Portugal,10196709,-0.29 %,-29478,111,91590,-6000.0,1.3,46,66 %,0.13 %
Azerbaijan,10139177,0.91 %,91459,123,82658,1200.0,2.1,32,56 %,0.13 %
Sweden,10099265,0.63 %,62886,25,410340,40000.0,1.9,41,88 %,0.13 %

In [127]:
# Aufgabe: Alle Länder finden, welche mit A anfangen

In [139]:
data[[i[0] == "A" for i in data.index]]
data[data.index.str.startswith("A")]

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
Argentina,45195774,0.93 %,415097,17,2736690,4800.0,2.3,32,93 %,0.58 %
Algeria,43851044,1.85 %,797990,18,2381740,-10000.0,3.1,29,73 %,0.56 %
Afghanistan,38928346,2.33 %,886592,60,652860,-62920.0,4.6,18,25 %,0.50 %
Angola,32866272,3.27 %,1040977,26,1246700,6413.0,5.6,17,67 %,0.42 %
Australia,25499884,1.18 %,296686,3,7682300,158246.0,1.8,38,86 %,0.33 %
Azerbaijan,10139177,0.91 %,91459,123,82658,1200.0,2.1,32,56 %,0.13 %
Austria,9006398,0.57 %,51296,109,82409,65000.0,1.5,43,57 %,0.12 %
Armenia,2963243,0.19 %,5512,104,28470,-4998.0,1.8,35,63 %,0.04 %
Albania,2877797,-0.11 %,-3120,105,27400,-14000.0,1.6,36,63 %,0.04 %
Aruba,106766,0.43 %,452,593,180,201.0,1.9,41,44 %,0.00 %
Antigua and Barbuda,97929,0.84 %,811,223,440,0.0,2.0,34,26 %,0.00 %
Andorra,77265,0.16 %,123,164,470,NaN,N.A.,N.A.,88 %,0.00 %
American Samoa,55191,-0.22 %,-121,276,200,NaN,N.A.,N.A.,88 %,0.00 %
Anguilla,15003,0.90 %,134,167,90,NaN,N.A.,N.A.,N.A.,0.00 %

In [117]:
data.index  # Alle Indizes ausgeben

Index(['China', 'India', 'United States', 'Indonesia', 'Pakistan', 'Brazil',
       'Nigeria', 'Bangladesh', 'Russia', 'Mexico',
       ...
       'Wallis & Futuna', 'Nauru', 'Saint Barthelemy', 'Saint Helena',
       'Saint Pierre & Miquelon', 'Montserrat', 'Falkland Islands', 'Niue',
       'Tokelau', 'Vatican State'],
      dtype='object', name='Country', length=235)

In [118]:
data.columns

Index(['Pop', 'YearlyChange', 'NetChange', 'Density', 'LandArea', 'Migrants',
       'FertRate', 'MedAge', 'UrbanPopPct', 'WorldShare'],
      dtype='object')

In [140]:
data.values

array([[1439323776, '0.39 %', 5540090, ..., '38', '61 %', '18.47 %'],
       [1380004385, '0.99 %', 13586631, ..., '28', '35 %', '17.70 %'],
       [331002651, '0.59 %', 1937734, ..., '38', '83 %', '4.25 %'],
       ...,
       [1626, '0.68 %', 11, ..., 'N.A.', '46 %', '0.00 %'],
       [1357, '1.27 %', 17, ..., 'N.A.', '0 %', '0.00 %'],
       [801, '0.25 %', 2, ..., 'N.A.', 'N.A.', '0.00 %']],
      shape=(235, 10), dtype=object)

### Gruppierungen

Nach einem Kriterium werden Gruppen erstellt

Diese Gruppen enthalten alle Datensätze, welche das gegebene Kriterium haben

In [142]:
group = data.groupby("MedAge")

In [145]:
group["Pop"].count()  # Wieviele Datensätze sind in jeder Gruppe?

MedAge
15       1
16       1
17       6
18      10
19      14
20       9
21       5
22       7
23       4
24       6
25       4
26       7
27       4
28      12
29       5
30       8
31       6
32      11
33       5
34       6
35       3
36       4
37       4
38       7
39       3
40       7
41       5
42      10
43      11
44       5
45       5
46       3
47       2
48       1
N.A.    34
Name: Pop, dtype: int64

In [147]:
group.get_group("43")

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
Romania,19237691,-0.66 %,-126866,84,230170,-73999.0,1.6,43,55 %,0.25 %
Netherlands,17134872,0.22 %,37742,508,33720,16000.0,1.7,43,92 %,0.22 %
Czech Republic (Czechia),10708981,0.18 %,19772,139,77240,22011.0,1.6,43,74 %,0.14 %
Hungary,9660351,-0.25 %,-24328,107,90530,6000.0,1.5,43,72 %,0.12 %
Austria,9006398,0.57 %,51296,109,82409,65000.0,1.5,43,57 %,0.12 %
Switzerland,8654622,0.74 %,63257,219,39516,52000.0,1.5,43,74 %,0.11 %
Finland,5540720,0.15 %,8564,18,303890,14000.0,1.5,43,86 %,0.07 %
Bosnia and Herzegovina,3280819,-0.61 %,-20181,64,51000,-21585.0,1.3,43,52 %,0.04 %
Malta,441543,0.27 %,1171,1380,320,900.0,1.5,43,93 %,0.01 %
Channel Islands,173863,0.93 %,1604,915,190,1351.0,1.5,43,30 %,0.00 %
U.S. Virgin Islands,104425,-0.15 %,-153,298,350,-451.0,2.0,43,96 %,0.00 %

In [148]:
# Aufgabe: Durchschnittsbevölkerung pro Gruppe

In [151]:
group["Pop"].mean()

MedAge
15      2.420664e+07
16      2.025083e+07
17      3.539643e+07
18      4.148540e+07
19      1.824118e+07
20      1.939652e+07
21      9.621932e+06
22      7.686515e+06
23      6.028827e+07
24      7.213284e+06
25      3.304188e+07
26      2.510786e+07
27      2.088666e+06
28      1.398790e+08
29      4.693030e+07
30      4.894655e+07
31      1.847800e+07
32      3.284957e+07
33      4.789470e+07
34      3.726593e+06
35      1.595275e+07
36      2.161582e+06
37      1.772735e+06
38      2.590871e+08
39      1.120258e+06
40      4.277205e+07
41      1.942832e+07
42      1.717237e+07
43      7.631299e+06
44      1.210433e+07
45      1.320029e+07
46      3.480124e+07
47      3.041855e+07
48      1.264765e+08
N.A.    3.333179e+04
Name: Pop, dtype: float64

In [153]:
group["Pop"].mean().astype(np.int32).sort_values()

MedAge
N.A.        33331
39        1120258
37        1772735
27        2088666
36        2161581
34        3726593
24        7213284
43        7631298
22        7686515
21        9621932
44       12104325
45       13200286
35       15952753
42       17172367
19       18241182
31       18478003
20       19396523
41       19428317
16       20250833
15       24206644
26       25107858
47       30418545
32       32849571
25       33041880
46       34801235
17       35396425
18       41485399
40       42772052
29       46930304
33       47894699
30       48946550
23       60288272
48      126476461
28      139879041
38      259087065
Name: Pop, dtype: int32

### Daten exportieren

Mithilfe der to_... Funktionen können Daten gespeichert werden

In [154]:
data.to_csv("Data/PopulationDataFastFertig.csv")