## Fehlerbehandlung mit Pandas

Anpassung der Daten selbst, um die Daten verwenden zu können

In [1]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv("Data/PopulationDataFastFertig.csv", 
                   delimiter=",", 
                   decimal=".", 
                   thousands=",",
                   index_col="Country")

In [5]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

### Probleme mit Datenset

- Prozentzeichen
- N.A.
- NaN
- Datentypen

#### NaN

isnull(), notnull()

In [6]:
data.isnull()

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,False,False,False,False,False,False,False,False,False,False
India,False,False,False,False,False,False,False,False,False,False
United States,False,False,False,False,False,False,False,False,False,False
Indonesia,False,False,False,False,False,False,False,False,False,False
Pakistan,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
Montserrat,False,False,False,False,False,True,False,False,False,False
Falkland Islands,False,False,False,False,False,True,False,False,False,False
Niue,False,False,False,False,False,True,False,False,False,False
Tokelau,False,False,False,False,False,True,False,False,False,False
Vatican State,False,False,False,False,False,True,False,False,False,False

In [11]:
data.fillna(method="ffill")

C:\Users\lk3\AppData\Local\Temp\ipykernel_14452\2321864255.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method="ffill")

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

In [13]:
data.ffill(inplace=True)

In [14]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

#### N.A.

Keine automatische Lösung -> Boolean Masken

In [16]:
data == "N.A."  # Dadurch das N.A. im Datenset verteilt ist, kann hier nicht einfach ein Rechteck genommen werden

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,False,False,False,False,False,False,False,False,False,False
India,False,False,False,False,False,False,False,False,False,False
United States,False,False,False,False,False,False,False,False,False,False
Indonesia,False,False,False,False,False,False,False,False,False,False
Pakistan,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
Montserrat,False,False,False,False,False,False,True,True,False,False
Falkland Islands,False,False,False,False,False,False,True,True,False,False
Niue,False,False,False,False,False,False,True,True,False,False
Tokelau,False,False,False,False,False,False,True,True,False,False
Vatican State,False,False,False,False,False,False,True,True,True,False

In [20]:
(data == "N.A.").value_counts()  # Jede Spalte mit mind. einem True wird hier gelistet

Pop    YearlyChange  NetChange  Density  LandArea  Migrants  FertRate  MedAge  UrbanPopPct  WorldShare
False  False         False      False    False     False     False     False   False        False         194
                                                             True      True    False        False          28
                                                             False     False   True         False           7
                                                             True      True    True         False           6
Name: count, dtype: int64

In [22]:
data["FertRate"] == "N.A."  # Alle N.A. Zeilen in FertRate finden

Country
China               False
India               False
United States       False
Indonesia           False
Pakistan            False
                    ...
Montserrat           True
Falkland Islands     True
Niue                 True
Tokelau              True
Vatican State        True
Name: FertRate, Length: 235, dtype: bool

In [26]:
data[data["FertRate"] == "N.A."]["FertRate"] = 0

C:\Users\lk3\AppData\Local\Temp\ipykernel_14452\3204606121.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[data["FertRate"] == "N.A."]["FertRate"] = 0

In [29]:
data[data["FertRate"] == "N.A."].index

Index(['Isle of Man', 'Andorra', 'Dominica', 'Cayman Islands', 'Bermuda',
       'Marshall Islands', 'Northern Mariana Islands', 'Greenland',
       'American Samoa', 'Saint Kitts & Nevis', 'Faeroe Islands',
       'Sint Maarten', 'Monaco', 'Turks and Caicos', 'Saint Martin',
       'Liechtenstein', 'San Marino', 'Gibraltar', 'British Virgin Islands',
       'Caribbean Netherlands', 'Palau', 'Cook Islands', 'Anguilla', 'Tuvalu',
       'Wallis & Futuna', 'Nauru', 'Saint Barthelemy', 'Saint Helena',
       'Saint Pierre & Miquelon', 'Montserrat', 'Falkland Islands', 'Niue',
       'Tokelau', 'Vatican State'],
      dtype='object', name='Country')

In [30]:
data.loc[data[data["FertRate"] == "N.A."].index, "FertRate"] = 0

In [31]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,0,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,0,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,0,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,0,N.A.,N.A.,0.00 %

Nachdem noch Zwei weitere Spalten Fehler haben, bietet es sich an, eine Funktion zu schreiben

In [34]:
def fixNA(colName, newValue):
    b = data[colName] == "N.A."  # Fehlerhafte Zeilen finden
    f = data[b]  # Fehlerhafte Zeilen herausfiltern
    i = f.index  # Index der fehlerhaften Zeilen nehmen
    data.loc[i, colName] = newValue  # Fehlerhafte Werte überschreiben

In [36]:
fixNA("MedAge", 0)

In [38]:
for col in data.columns:
    fixNA(col, 0)

In [39]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,0,0,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,0,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,0,0,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,0,0,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,0,0,0,0.00 %

#### Prozentzeichen

Hier wird string-replace verwendet

" %" -> ""

In [44]:
data["YearlyChange"].replace(" %", "", regex=True)

Country
China               0.39
India               0.99
United States       0.59
Indonesia           1.07
Pakistan            2.00
                    ...
Montserrat          0.06
Falkland Islands    3.05
Niue                0.68
Tokelau             1.27
Vatican State       0.25
Name: YearlyChange, Length: 235, dtype: object

In [42]:
data["YearlyChange"] = data["YearlyChange"].replace(" %", "", regex=True)

In [43]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0.0,0,0,10 %,0.00 %
Falkland Islands,3480,3.05,103,0,12170,0.0,0,0,66 %,0.00 %
Niue,1626,0.68,11,6,260,0.0,0,0,46 %,0.00 %
Tokelau,1357,1.27,17,136,10,0.0,0,0,0 %,0.00 %
Vatican State,801,0.25,2,2003,0,0.0,0,0,0,0.00 %

Funktion

In [45]:
def fixPct(colName):
    data[colName] = data[colName].replace(" %", "", regex=True)

In [46]:
for col in data.columns:
    fixPct(col)

In [47]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38,61,18.47
India,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28,35,17.70
United States,331002651,0.59,1937734,36,9147420,954806.0,1.8,38,83,4.25
Indonesia,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30,56,3.51
Pakistan,220892340,2.00,4327022,287,770880,-233379.0,3.6,23,35,2.83
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0.0,0,0,10,0.00
Falkland Islands,3480,3.05,103,0,12170,0.0,0,0,66,0.00
Niue,1626,0.68,11,6,260,0.0,0,0,46,0.00
Tokelau,1357,1.27,17,136,10,0.0,0,0,0,0.00
Vatican State,801,0.25,2,2003,0,0.0,0,0,0,0.00

#### Datentypen

convert_dtypes()

astype(Typ)

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    int64
 1   YearlyChange  235 non-null    object
 2   NetChange     235 non-null    int64
 3   Density       235 non-null    int64
 4   LandArea      235 non-null    int64
 5   Migrants      235 non-null    float64
 6   FertRate      235 non-null    object
 7   MedAge        235 non-null    object
 8   UrbanPopPct   235 non-null    object
 9   WorldShare    235 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 28.3+ KB

In [50]:
data.convert_dtypes().info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    Int64
 1   YearlyChange  235 non-null    string
 2   NetChange     235 non-null    Int64
 3   Density       235 non-null    Int64
 4   LandArea      235 non-null    Int64
 5   Migrants      235 non-null    Int64
 6   FertRate      235 non-null    object
 7   MedAge        235 non-null    object
 8   UrbanPopPct   235 non-null    object
 9   WorldShare    235 non-null    string
dtypes: Int64(5), object(3), string(2)
memory usage: 29.4+ KB

In [52]:
data["YearlyChange"] = data["YearlyChange"].astype(np.float32)

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    int64
 1   YearlyChange  235 non-null    float32
 2   NetChange     235 non-null    int64
 3   Density       235 non-null    int64
 4   LandArea      235 non-null    int64
 5   Migrants      235 non-null    float64
 6   FertRate      235 non-null    object
 7   MedAge        235 non-null    object
 8   UrbanPopPct   235 non-null    object
 9   WorldShare    235 non-null    object
dtypes: float32(1), float64(1), int64(4), object(4)
memory usage: 27.4+ KB

Funktion

In [55]:
def fixType(colName, newType):
    data[colName] = data[colName].astype(newType)

In [56]:
fixType("Pop", np.int32)

In [57]:
fixType("NetChange", np.int32)

In [58]:
fixType("Density", np.int16)

In [59]:
fixType("LandArea", np.int32)

In [60]:
fixType("Migrants", np.int32)

In [61]:
fixType("FertRate", np.float32)

In [62]:
fixType("MedAge", np.int8)

In [63]:
fixType("UrbanPopPct", np.float32)

In [64]:
fixType("WorldShare", np.float32)

In [65]:
data

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399,1.7,38,61.0,18.469999
India,1380004385,0.99,13586631,464,2973190,-532687,2.2,28,35.0,17.700001
United States,331002651,0.59,1937734,36,9147420,954806,1.8,38,83.0,4.250000
Indonesia,273523615,1.07,2898047,151,1811570,-98955,2.3,30,56.0,3.510000
Pakistan,220892340,2.00,4327022,287,770880,-233379,3.6,23,35.0,2.830000
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0,0.0,0,10.0,0.000000
Falkland Islands,3480,3.05,103,0,12170,0,0.0,0,66.0,0.000000
Niue,1626,0.68,11,6,260,0,0.0,0,46.0,0.000000
Tokelau,1357,1.27,17,136,10,0,0.0,0,0.0,0.000000
Vatican State,801,0.25,2,2003,0,0,0.0,0,0.0,0.000000

In [66]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    int32
 1   YearlyChange  235 non-null    float32
 2   NetChange     235 non-null    int32
 3   Density       235 non-null    int16
 4   LandArea      235 non-null    int32
 5   Migrants      235 non-null    int32
 6   FertRate      235 non-null    float32
 7   MedAge        235 non-null    int8
 8   UrbanPopPct   235 non-null    float32
 9   WorldShare    235 non-null    float32
dtypes: float32(4), int16(1), int32(4), int8(1)
memory usage: 18.0+ KB

In [67]:
18/27.4

0.6569343065693432

In [68]:
data.to_csv("Data/PopulationDataFertig.csv")